**/resources/wallet/
**/resources/Wallet_*/
*.zip

target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.log
*.jar
*.war

.idea/
.vscode/
*.iml
.project
.classpath
.settings/


local.settings.json
.azurefunctions/


.DS_Store
Thumbs.db